<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p>Author: {{ book.author }}</p>
    <p>Publication Date: {{ book.publication_date }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Book ID: {{ book.pk }}</p>

    {% if perms.bookshelf.can_edit %}
        <a href="{% url 'edit_book' book.pk %}">Edit</a>
    {% endif %}
    {% if perms.bookshelf.can_delete %}
        <a href="{% url 'delete_book' book.pk %}">Delete</a>
    {% endif %}
    <a href="{% url 'book_list' %}">Back to Book List</a>
</body>
</html>